/.idea
/GokstadFriidrettsforeningAPI.IntegrationTests/bin
/GokstadFriidrettsforeningAPI.IntegrationTests/obj
/GokstadFriidrettsforeningAPI.UnitTests/bin
/GokstadFriidrettsforeningAPI.UnitTests/obj
/GokstadFriidrettsforeningAPI/bin
/GokstadFriidrettsforeningAPI/obj