/.idea
/GokstadFriidrettsforeningAPI.IntegrationTests/bin
/GokstadFriidrettsforeningAPI.IntegrationTests/obj
/GokstadFriidrettsforeningAPI.UnitTests/bin
/GokstadFriidrettsforeningAPI.UnitTests/obj
/GokstadFriidrettsforeningAPI/bin
/GokstadFriidrettsforeningAPI/obj
/Opptak.mp4
/Morten_Lunde_Eksamen_Emne_7.zip